<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.season.garden.name"></h1>
    <h1 data-ng-bind="vm.season.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.season.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="seasons.edit({ seasonId: vm.season._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
     Đã tạo lúc
      <span data-ng-bind="vm.season.created | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.season.content"></p>
</section>
