<section>
  <div class="page-header">
  <ol class = "breadcrumb">
     <li><a data-ui-sref="home">Trang chủ</a></li>
     <li><a data-ui-sref="gardens.list">Quản lý sản xuất</a></li>
<!--       <li><a ng-click="vm.goBack();">Chi tiết vườn rau</a></li> -->
     <li class ="active">Chi tiết mùa vụ</li>
   </ol>
   <h1> Vườn rau: {{vm.season.garden.name}}</h1>
    <h2 data-ng-bind="vm.season.name"></h2>
  </div>
   <div class="pull-right"
       data-ng-show="vm.season.isCurrentUserOwner">
   <!--  <a class="btn btn-primary"
       data-ui-sref="seasons.edit({ seasonId: vm.season._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a> -->
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <h2><span style="color:#337ab7">Sản phẩm:</span>{{vm.season.vegetableName}}</h2>
    <h3><span style="color:#337ab7">Ngày bắt đầu: </span>{{vm.season.startDate| date:'short'}} &nbsp&nbsp<span style="color:#337ab7">Ngày kết thúc:</span> {{vm.season.endDate| date:'short'}}</h3>
     <span style="color: red" ng-show="season.status===2">Đã kết thúc</span>
  <!-- <small>
    <em class="text-muted">
     Đã tạo lúc
      <span data-ng-bind="vm.season.created | date:'short'"></span>
    </em>
  </small> -->
  <h2>Lịch sử tưới nước</h2>
 <md-table-container>
    <table md-table style="color:#5d9842;">
      <thead md-head md-order="" md-on-reorder="">
        <tr md-row>
          <th md-column style="color:#5d9842;"><span>Thời gian</span></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="item in vm.pagedItems" ng-show="vm.season.wateringHistory">
          <td md-cell style="color:#5d9842;">{{item}}</td>
          <!--<td md-cell style="color:#5d9842;">{{item.quantity}}</td>-->
        </tr>
      </tbody>
    </table>
     <pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
                ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
  </md-table-container>
</section>
