<section>
  <div class="page-header">
    <h1>{{vm.garden._id ? 'Chỉnh sửa' : 'Đăng ký'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.gardenForm" class="form-horizontal" ng-submit="vm.save(vm.form.gardenForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Tên vườn</label>
          <input name="name" type="text" ng-model="vm.garden.name" id="name" class="form-control" placeholder="Tên vườn" required unique>
          <div ng-messages="vm.form.gardenForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Tên vườn là bắt buộc.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
        <label class="control-label" for="name">Địa chỉ</label>
          <input name="address" type="text" ng-model="vm.garden.address" id="address" class="form-control" placeholder="Địa chỉ" required>
          <div ng-messages="vm.form.gardenForm.address.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Địa chỉ vườn là bắt buộc.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" >Chọn loại rau củ quả của vườn</label>
        </div>
        <div layout="row" layout-wrap flex>
          <div flex-xs flex="50">
            <md-checkbox aria-label="Chọn Tất Cả"
            ng-checked="vm.isChecked()"
            md-indeterminate="vm.isIndeterminate()"
            ng-click="vm.toggleAll()">
            <span ng-if="vm.isChecked()">Bỏ </span>Chọn Tất Cả
          </md-checkbox>
        </div>
        <div class="choose-vegetable" flex="100" ng-repeat="item in vm.vegetableCategoryObj">
          <md-checkbox ng-checked="vm.exists(item.name, vm.selected)" ng-click="vm.toggle(item, vm.selected,vm.quantity)">
          {{item.name}}
        </md-checkbox>
        <md-input-container class="md-block" flex-gt-sm>
        <label>Số lượng</label>
        <input type ="number" name="Quantity" required ng-model="item.quantity" ng-show="vm.exists(item.name, vm.selected)" ng-change="vm.quantityUpdate(item.quantity,item.name)">
      </md-input-container>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">{{vm.garden._id ? 'Cập Nhật' : 'Tạo'}}</button>
  </div>
  <div ng-show="vm.error" class="text-danger">
    <strong ng-bind="vm.error"></strong>
  </div>
</fieldset>
</form>
</div>
</section>
