<section>
  <div class="page-header">
    <ol class="breadcrumb">
      <li><a data-ui-sref="home">Trang chủ</a></li>
      <li class="active">Quản lý sản xuất</li>
    </ol>
    <div style="margin-top: 20px">
      <a data-toggle="tooltip" title="Tạo vườn mới" class="btn btn-primary"
      data-ui-sref="gardens.create">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </div>
</div> <br>
<md-tabs md-dynamic-height md-border-bottom>
<md-tab label="Danh sách vườn rau">
<md-input-container>
<input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Tìm kiếm"
ng-change="vm.figureOutItemsToDisplay()"/>
</md-input-container>
<md-divider style="margin-bottom:30px;"></md-divider>
<div class="list-group">
  <a data-ng-repeat="garden in vm.pagedItems"
  data-ui-sref="gardens.view({ gardenId: garden._id }) "
  class="list-group-item">
  <small class="list-group-item-text">
    Đã tạo lúc
    <span data-ng-bind="garden.created | date:'mediumDate'"></span>
    chủ vườn:
    <span data-ng-if="garden.user" data-ng-bind="garden.user.displayName"></span>
    <span data-ng-if="!garden.user">Người dùng đã bị xóa</span>
  </small>
  <h4 class="list-group-item-heading" data-ng-bind="garden.name"></h4>
</a>
</div>
<div class="alert alert-warning text-center" data-ng-if="vm.gardens.$resolved && !vm.gardens.length">
  Chưa có vườn, hãy <a data-ui-sref="gardens.create">tạo một vườn</a>
</div>
<pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
ng-model="vm.currentPage" ng-change="vm.pageChanged()">
</pagination>
</md-tab>
<md-tab label="Tổng hợp mùa vụ">
<md-input-container>
<input class="form-control col-md-4" type="text" ng-model="vm.search2" placeholder="Tìm kiếm"
ng-change="vm.figureOutItemsToDisplay2()"/>
</md-input-container>
<md-divider style="margin-bottom:30px;"></md-divider>
<div class="list-group">
  <a data-ng-repeat="season in vm.pagedItems2"
  ng-click="vm.gotoView(season._id)"
  class="list-group-item">
  <small class="list-group-item-text">
    Đã tạo lúc
    <span data-ng-bind="season.created | date:'mediumDate'"></span>
  </small>
  <h4 data-ng-bind="season.garden.name"></h4>
  <h4 class="list-group-item-heading" data-ng-bind="season.name"></h4>
</a>
</div>
<pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage2" total-items="vm.filterLength2"
ng-model="vm.currentPage2" ng-change="vm.pageChanged2()"></pagination>
</md-tab>
</md-tabs>


</section>
