<style>
  .vegetable-list {
    color: #5d9842;
  }
</style>
<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.garden.name"></h1>
    <i>Địa Chỉ: </i>
      <small data-ng-bind="vm.garden.address"></small> <br>
    <i>Diện tích:</i>
    <small data-ng-bind="vm.garden.area">(m2)</small> <br>
    <small>
      <em class="text-muted">
        Đã tạo lúc
        <span data-ng-bind="vm.garden.created | date:'mediumDate'"></span> <br>
        Chủ vườn:
      <span data-ng-if="vm.garden.user"
            data-ng-bind="vm.garden.user.displayName"></span>
        <span data-ng-if="!vm.garden.user">Người dùng đã bị xóa</span>
      </em>
    </small>
  </div>
  <div class="col-md-offset-3 col-md-6 col-md-offset-3" style="padding:0">
    <div class="pull-right" data-ng-show="vm.garden.isCurrentUserOwner">
      <a class="btn btn-primary" data-ui-sref="gardens.edit({ gardenId: vm.garden._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <a class="btn btn-primary" data-ng-click="vm.remove()">
        <i class="glyphicon glyphicon-trash"></i>
      </a>
    </div>
    <h3 style="color:#337ab7">Các loại rau của vườn:</h3
    <md-table-container>
      <table md-table style="color:#5d9842;">
        <thead md-head md-order="" md-on-reorder="">
        <tr md-row>
          <th md-column md-order-by="" style="color:#5d9842;"><span>Tên sản phẩm</span></th>
          <!--<th md-column md-numeric md-order-by="" style="color:#5d9842;"><span>Số lượng</span></th>-->
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="item in vm.garden.vegetableList" ng-show="vm.garden.vegetableList">
          <td md-cell style="color:#5d9842;">{{item}}</td>
          <!--<td md-cell style="color:#5d9842;">{{item.quantity}}</td>-->
        </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</section>
