<style>
  .vegetable-list {
    color: #5d9842;
  }
</style>
<section>
  <div class="page-header col-md-12">
    <div class="col-md-12">
      <ol class = "breadcrumb">
       <li><a data-ui-sref="home">Trang chủ</a></li>
       <li><a data-ui-sref="gardens.list">Quản lý sản xuất</a></li>
       <li class = "active">Chi tiết vườn rau</li></ol>
     </div>
     <div class="">
       <span class="alert alert-danger" ng-show="!vm.garden.approved">
         <strong>Chưa được duyệt! </strong>
         <button data-toggle="tooltip" title="Duyệt" class="btn btn-primary"
         data-ng-click="vm.approve();" ng-if="vm.garden.isAdmin">
         <i class="glyphicon glyphicon-ok"></i>
       </button>
     </span>
     <span class="alert alert-success" ng-show="vm.garden.approved">
      <strong>Đã được duyệt! </strong><button data-toggle="tooltip" title="Bỏ duyệt" class="btn btn-primary"
      ng-click="vm.approve()" ng-if="vm.garden.isAdmin">
      <i class="glyphicon glyphicon-remove"></i> </button> </span>
    </div>
    <div class="">
      <h1 data-ng-bind="vm.garden.name"></h1>
      <h3>Địa Chỉ:<span data-ng-bind="vm.garden.address"></span></h3>
      <h3>Diện tích: {{vm.garden.area}}<small> m<sup>2</sup></small></h3>
      <h3>Chủ vườn:
        <span data-ng-if="vm.garden.user"
        data-ng-bind="vm.garden.user.displayName"></span>
        <span data-ng-if="!vm.garden.user">Người dùng đã bị xóa</span> </h3>
        <small>
          <em class="text-muted">
            Đã tạo lúc
            <span data-ng-bind="vm.garden.created | date:'short'"></span> <br>
          </em></small><img alt="" class="img-responsive text-center" ng-src="{{vm.garden.imgUrl}}" />
        </div>
      </div>
      <md-tabs md-dynamic-height md-border-bottom class="col-md-12">
      <md-tab label="Chi tiết vườn rau">
      <div>
        <div class="pull-right" data-ng-show="vm.garden.isAllow">
          <a class="btn btn-primary" data-ui-sref="gardens.edit({gardenId:vm.garden._id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn btn-primary" data-ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
        <h3 style="color:#337ab7">Các loại rau của vườn:</h3
         <md-input-container>
         <input class="form-control" type="text" ng-model="vm.search2" placeholder="Tìm kiếm"
         ng-change="vm.figureOutItemsToDisplay2()"/>
       </md-input-container>
       <md-table-container>
       <table md-table style="color:#5d9842;">
        <thead md-head md-order="" md-on-reorder="">
          <tr md-row>
            <th md-column md-order-by="" style="color:#5d9842;"><span></span></th>
            <th md-column md-numeric md-order-by="" style="color:#5d9842;"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="item in vm.pagedItems2" ng-show="vm.garden.vegetableList">
            <td md-cell style="color:#5d9842;">{{item.name}}</td>
            <td md-cell style="color:#5d9842;"><div class="img_container"><img alt="" class="img-responsive text-center" ng-src="{{item.imgUrl}}" /></div></td>
          </tr>
        </tbody>
      </table>
      <pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage2" total-items="vm.filterLength2"
      ng-model="vm.currentPage2" ng-change="vm.pageChanged2()"></pagination>
    </md-table-container>
  </div>
</md-tab>
<md-tab label="Tổng hợp mùa vụ">
<div class="col-md-4" style="margin-top: 20px" data-ng-show="vm.garden.isAdmin">
  <a data-toggle="tooltip" title="Tạo mùa vụ mới" class="btn btn-primary"
  ng-click="vm.createSeason();">
  <i class="glyphicon glyphicon-plus"></i>
</a>
</div>
<md-input-container>
<input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Tìm kiếm"
ng-change="vm.figureOutItemsToDisplay()"/>
</md-input-container>
<md-divider style="margin-bottom:30px;"></md-divider>
<div class="list-group" data-ng-if="vm.garden.seasons.length!=0">
  <md-card data-ng-repeat="season in vm.pagedItems"
  ng-click="vm.gotoView(season._id)"
  class="list-group-item">
  <div>
    <span class="alert alert-danger" ng-show="season.status===2">Đã kết thúc</span>
    <span class="alert alert-success" ng-show="season.status===1">Đang diễn ra</span>
    <span class="alert alert-warning" ng-show="season.status===0">Chưa bắt đầu</span>
  </div>
  <br>
  <small class="list-group-item-text">
    Đã tạo lúc
    <span data-ng-bind="season.created | date:'short'"></span>
  </small>
  <!--  <h4 data-ng-bind="season.garden.name"></h4> -->
  <h4 class="list-group-item-heading" data-ng-bind="season.name"></h4>
</md-card>
<pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength"
ng-model="vm.currentPage" ng-change="vm.pageChanged()"></pagination>
</div>
<div class="alert alert-warning text-center" data-ng-if="vm.garden.seasons.length===0">
  Không có dữ liệu!</a>
</div>
</md-tab>
</md-tabs>
</section>
