<section>
  <div class="page-header">
    <h1>{{vm.dbmanage._id ? 'Cập nhật mùa vụ' : 'Tạo mới mùa vụ'}}</h1>
  </div>
  <form name="vm.form.dbmanageForm" class="form-horizontal" ng-submit="vm.save(vm.form.dbmanageForm.$valid)"
        novalidate>
    <fieldset class="col-md-offset-3 col-md-6 col-md-offset-3" >
      <div class="form-group" show-errors ng-show="!vm.dbmanage._id">
        <label>Chọn vườn</label>
        <md-autocomplete
          required
          md-input-name="gardens"
          md-no-cache="vm.noCache"
          md-selected-item="vm.dbmanage.garden"
          md-search-text="vm.searchText"
          md-items="item in vm.querySearch(vm.searchText)"
          md-item-text="item.name"
          md-min-length="0"
          md-menu-class="autocomplete-custom-template">
          <md-item-template>
          <span class="item-title">
            <md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>
            <span> {{item.name}} </span>
          </span>
          <span class="item-metadata">
            <span class="item-metastat">
              <strong>Chủ vườn: {{item.user.displayName}}</strong>
            </span>
          </span>
          </md-item-template>
          <md-not-found>
            Không tìm thấy vườn "{{vm.searchText}}".
          </md-not-found>
        </md-autocomplete>
        {{vm.dbmanage.garden}}
      </div>
      <div class="form-group" show-errors>
        <label class="control-label">Tên vườn</label>
        <input name="gardenname" type="text" ng-model="vm.dbmanage.garden.name" id="garden_name" class="form-control"
               required ng-disabled="true">
        <div ng-messages="vm.form.dbmanageForm.gardenname.$error" role="alert">
          <p class="help-block error-texst" ng-message="required">Hãy chọn vườn!</p>
        </div>
      </div>
      <div class="form-group" show-errors>
          <label class="control-label">Tên vườn</label>
          <input name="name" type="text" ng-model="vm.dbmanage.name" id="name" class="form-control"
                 required>
        <div ng-messages="vm.form.dbmanageForm.name.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Hãy nhập tên mùa vụ!</p>
        </div>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" class="btn btn-default"
                ng-disabled="vm.form.dbmanageForm.name.$invalid ||vm.form.dbmanageForm.gardenname.$invalid">
          {{vm.dbmanage._id ? 'Cập nhật' : 'Tạo mới'}}
        </button>
      </div>
      <div ng-show="vm.error" class="text-danger">
        <strong ng-bind="vm.error"></strong>
      </div>
    </fieldset>
  </form>
</section>
