<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.vegetablecat.name"></h1>
  </div>
  <div style="margin: 20px">
      <a data-toggle="tooltip" title="Tạo vườn mới" class="btn btn-primary"
      data-ui-sref="vegetablecats.list">
      <i class="glyphicon glyphicon-arrow-left"></i>
    </a>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       data-ui-sref="vegetablecats.edit({ vegetablecatId: vm.vegetablecat._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Tạo lúc
      <span data-ng-bind="vm.vegetablecat.created | date:'short'"></span>
    </em>
  </small>
   <div class="img_container"><img alt="" class="img-responsive text-center" ng-src="{{vm.vegetablecat.imgUrl}}" /></div>
</section>
