<section >
  <div class="page-header col-md-12"> 
    <h1 class="col-md-offset-3 col-md-6 col-md-offset-3">Thông tin rau quả</h1>
  </div>
  <div class="col-md-offset-3 col-md-6 col-md-offset-3">
    <md-input-container>
    <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Tìm kiếm"
    ng-change="vm.figureOutItemsToDisplay()"/>
  </md-input-container>
  <md-divider style="margin-bottom:30px;"></md-divider>
  <md-card  data-ng-repeat="information in vm.pagedItems" layout-align="center center">
  <a data-ui-sref="information.view({ informationId: information._id })">
    <h4 style="color:green" class="text-center">{{information.vegetable.name}}</h4>
  <small class="list-group-item-text">
    <span>Số vườn canh tác: {{information.count}}</span>
  </small>
  <div class="img_container"><img alt="" class="img-responsive" ng-src="{{information.vegetable.imgUrl}}" /></div>
</a>
</md-card>

<div class="alert alert-warning text-center" data-ng-if="vm.information.$resolved && !vm.information.length">
  Không có dữ liệu!
</div>
<pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()">
</pagination>
</div>
</section>
